.canvas-cr{
    width: 525px;
    height: 630px;
    border: 1px solid #000000;
}
.canvas-cg{
    width: 525px;
    height: 630px;
    border: 1px solid #000000;
}

.carroChico {
    width: 450px;
    height: 620px;
}

map{
    background-color: rgba(red, red, red, 0.5);
}
area{
    background-color:rgba(0, 0, 255, 0.267);
}

body{
    background-color: #D6D7C9;
    font-size: 1em;
}

.tarlogin{
    background-color: rgba(123, 193, 100, 0.411);
}
.banner{
    background-color: #D9D9DE;
}

#imagenLogo{
    position: relative;
    background-color: #336699;
    color: #fff;
    width: 100px;
    height: 100px;
    padding: 3px;
    text-align: center;
    z-index: 1;
}